.error {
  text-align: center;
  padding: 50px;
}

.error h1 {
  font-size: 200px;
  color: #ff6060;
  padding: 10px;
}

.error p {
  color: #ff6060;
  font-size: 30px;
  padding-top: 50px;
  margin: 50px;
}

.error-link {
  color: black;
  text-decoration: underline;
  font-weight: bold;
}

@media (max-width: 768px) {
  .error h1 {
    font-size : 100px;
  }
  .error p {
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 15px;
    margin: 10px;
  }
}