@use "./home";
@use "./card";
@use "./header";
@use "./banner";
@use "./collapse";
@use "./footer";
@use "./error";
@use "./carousel";
@use "./logement";

body {
  font-family: "Montserrat", sans-serif;
}
.main {
    padding: 10px;
}
@media (max-width: 768px) {
  .main {
    padding: 5px;
  }
}
